body {
    font-family: Arial, sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 1em;
}
.form-container{
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 2em;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

label {
    margin-bottom: 0.5em;
}

input, button {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
}

button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#transaction-list ul {
    list-style-type: none;
    padding: 0;
}

#transaction-list li {
    background-color: #f9f9f9;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid #ddd;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
    }
}
